# .gitignore

# All secrets!
secret*

# .org => .el => .elc
*.elc

# These directories are populated on config execution.
elpa/**
url/**
meta/**
auto-save-list/**
transient/**
.cache/**
_minted*

# Tangled config .el and .elc file from .org
smart-documents.el*

# Misc
.org-id-locations
async-bytecomp.log
fonts/**
srecode-map.el