# .gitignore

*.elc

# TeX artifacts
*.tex
*.lot
*.lof

# These directories are populated on config execution.
elpa/**
url/**
auto-save-list/**
transient/**

# Tangled config .el file from .org
blendoit/blendoit-init.el

# Misc
*.eld
ido.last
recentf
srecode-map.el
.org-id-locations
network-security.data
places
projectile.cache
