# .gitignore

*.elc

# Backups
bkp/

# TeX artifacts
*.tex
*.lot
*.lof

# These directories are populated on config execution.
elpa/**
url/**
auto-save-list/**
transient/**

# Tangled .el files from .org
blendoit/*.el

# Misc
*.eld
ido.last
recentf
srecode-map.el
.org-id-locations
network-security.data
places
projectile.cache
