:root {
    --primary-color: #333333;
    --secondary-color: #FFFFFF;
    --home: #c8c8c8;
    --yes: #5cff5c;
    --no: #ff5c5c;
    font-size: 18;
    --fast-speed: 0.2s;
    --med-speed: 0.4s;
    --slow-speed: 1s;
}

title {
    text-align: left;
    line-height: 3;
}

.section-number-3 {
    color: red;
}

body {
    font-family: 'Jost*', sans-serif;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

code {
    font-family: 'Hack', sans-serif;
}

p {
    font-family: 'Public Sans', sans-serif;
}

#org88f7f8b {
    line-height: 10;
}
