:root {
    --primary-color: #333333;
    --secondary-color: #FFFFFF;
    --home: #c8c8c8;
    --yes: #5cff5c;
    --no: #ff5c5c;
    font-size: 18;
    --fast-speed: 0.2s;
    --med-speed: 0.4s;
    --slow-speed: 1s;
}

code {
    font-family: 'Hack', sans-serif;
}

body {
    font-family: 'Jost*', sans-serif;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    filter: blur(0px);
}

.outline-2 {
    filter: blur(4px);
    transition: 0.3s;
}
.outline-2:hover {
    filter: blur(0px);
    transition: 0.3s;
}

p {
    font-family: 'Public Sans', sans-serif;
}

a {
    color: gray;
}
