:root {
    /* Colors */
    --primary: #333333;
    --text: #ffffff;
    --accent: #4682b4;
    --link: #87cefa;
    --no: #ff5c5c;
    /* Timings */
    --high-speed: 0.3s;
    --med-speed: 0.5s;
    --low-speed: 1.0s;
}

code {
    font-family: 'Hack', sans-serif;
}

body {
    font-family: 'Jost*', sans-serif;
    font-size: 12px;
    margin: 3em;
    background-color: var(--primary);
    color: var(--text);
}

.outline-2 {
    bottom: 0;
    left: 0;
    filter: blur(4px);
    transition: var(--high-speed);
    max-width: 60vw;
}
.outline-2:hover {
    filter: blur(0px);
    transition: var(--med-speed);
    font-size: 14px;
}

p {
    font-family: 'Public Sans', sans-serif;
}

a {
    color: var(--link);
}
